language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
node_js:
  - 'node'
  - 'lts/*'
script:
  - yarn test --coverage
after_success:
  - bash <(curl -s https://codecov.io/bash)
  - yarn travis-deploy-once "yarn semantic-release"
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
